{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Hi! I'm David Tausend, I am passionately driven by the
        realms of Cloud Engineering and Programming. With a fervent enthusiasm for all things tech.
    </h1>
    <p class="lead">Through this platform, I am excited to showcase a collection of my projects that highlight my
        journey in cloud infrastructure, application development, and problem-solving. Join me as I traverse the exciting landscapes of innovation and bring ideas to life through code and the cloud.</p>
    <hr class="my-4">
    <p>Explore our services and get started today.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'accounts:portfolio_list' %}" role="button">Portfolio</a>
</div>
<div class="container text-center">
    <img src="{% static 'images/cloud.webp' %}" alt="Your Image" class="img-fluid my-4">
    <div class="row">
        <div class="col-md-4">
            <h2>Our Services</h2>
            <p>We provide a wide range of consulting services tailored to your needs.</p>
            <a class="btn btn-secondary" href="{% url 'accounts:portfolio_list' %}" role="button">Learn More »</a>
        </div>
        <div class="col-md-4">
            <h2>Book a Consultation</h2>
            <p>Schedule a consultation at your convenience.</p>
            <a class="btn btn-secondary" href="{% url 'accounts:create_booking' %}" role="button">Book Now »</a>
        </div>
        <div class="col-md-4">
            <h2>Contact Us</h2>
            <p>Have questions? Get in touch with us for more information.</p>
            <a class="btn btn-secondary" href="{% url 'accounts:contact' %}" role="button">Contact Us »</a>
        </div>
    </div>
</div>
{% endblock %}
