{% extends "base_generic.html" %}

{% block content %}
<h1>Our Portfolio</h1>
<div class="portfolio-gallery">
    {% for portfolio in portfolios %}
    <div class="portfolio-item">
        <img src="{{ portfolio.image.url }}" alt="{{ portfolio.title }}" class="img-fluid">
        <h2>{{ portfolio.title }}</h2>
        <p>{{ portfolio.description }}</p>
        {% if portfolio.client_testimonial %}
        <blockquote>
            <p>"{{ portfolio.client_testimonial }}"</p>
        </blockquote>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
