{% extends "base_generic.html" %}

{% block content %}
<h2>Reviews for {{ consultant.name }}</h2>
<ul>
    {% for review in reviews %}
    <li>
        <strong>{{ review.user.username }}:</strong> {{ review.rating }}/5<br>
        {{ review.comments }}<br>
        {% if request.user == review.user %}
        <a href="{% url 'accounts:edit_review' review.id %}">Edit</a> |
        <a href="{% url 'accounts:delete_review' review.id %}">Delete</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}
