body {
    font-family: Arial, sans-serif;
}

#sidebar {
    width: 250px;
    position: fixed;
}

#main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link i {
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    background-color: #495057;
}

.navbar-brand h3 {
    font-size: 1.5rem;
}

.navbar-brand p {
    font-size: 0.875rem;
    color: #adb5bd;
}

.mt-auto {
    margin-top: auto !important;
}

.mt-auto a {
    color: #fff;
    font-size: 1.5rem;
    display: block;
    text-align: center;
}
