{% extends "base_generic.html" %}

{% block title %}
About Me - David Tausend
{% endblock %}

{% block content %}
<h1>About Me</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">David Tausend</h1>
                    <p class="card-text">{{ bio }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
