{% extends "base_generic.html" %}
{% load static %}

{% block title %}Our Portfolio{% endblock %}

{% block content %}
<h1>Portfolio</h1>
<div class="portfolio-gallery">
    {% for portfolio in portfolios %}
        <div class="portfolio-item">
            <img src="https://res.cloudinary.com/djvvb5zxr/image/upload/{{ portfolio.image }}.webp" 
                 alt="{{ portfolio.title }}" 
                 width="300" 
                 height="200">
            <h3>{{ portfolio.title }}</h3>
            <p>{{ portfolio.description }}</p>
            {% if portfolio.client_testimonial %}
            <blockquote class="blockquote">
                <p class="mb-0">"{{ portfolio.client_testimonial }}"</p>
            </blockquote>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}